body {
    background-color: lightblue;
}

.barra {
    border-bottom: 5px solid black;
}

#contacto {
    text-align: center;
    background-color: rgb(55, 113, 133);
}

.red_social {
    border-radius: 50%;
    padding: 5px;
    border: 2px solid #1d9bf0;
    margin: 10px;
    transition: transform 0.3s ease;
    color: #1d9bf0;
}

.red_social:hover {
  transform: scale(1.1);
}

.icono_experiencia {
    border-radius: 50%;
    padding: 5px;
    border: 2px solid darkblue;
    margin: 10px;
    transition: transform 0.3s ease;
    color: darkblue;
}

.icono_experiencia:hover {
  transform: scale(1.1);
}

.imagen_logo {
    width: 50px;
    height: auto;
}

.imagen_logo:hover {
  transform: scale(1.1);
}

.imagen_principal {
    width: 260px;
    height: auto;
    padding: 20px;
}

.texto_header {
    text-align: center;
}

.fondo_navbar {
    background-color: rgb(55, 113, 133);
}

.class_experiencia {
    background-color: whitesmoke;
    text-align: center;
    border: 3px solid black;
}

.class_experiencia:hover {
    background-color: #1d9bf0;
}